@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background-image: linear-gradient(to top, rgba(255, 156, 26, 1), rgba(236, 27, 9, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
